<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<title></title>
<link href="../../css/bootstrap.css" rel="stylesheet" />
<link href="../../css/font-awesome.css" rel="stylesheet" />

</head>
<body ng-app="menuApp" ng-controller="menuCtrl">
	<div id="page-inner" style="background-color:#EDEDED;">
		<div class="row">
			<div  class="search-condition">
				<div class="panel  panel-bottom">
				<div style="font-weight:800;padding-left:20px;padding-top:5px;">查询窗口</div> 
					<div class="panel-body">

						<form class="form-inline"  >
							<div class="row" >
								<div id="searchConditionDiv" class="search-condition-div">
                                     
									<label for="exampleInputName2">名称：</label><input type="text"
										ng-model="name" class="form-control search-input" id="exampleInputName2"
										 placeholder=""> 
										
										<label for="exampleInputName2" class="panel-left">地址：</label>
										
										<input type="text" ng-model="url" class="form-control search-input" id="exampleInputName2"
										placeholder=""> 
										
										<label  class="panel-left" 
										for="exampleInputName2">图标：</label><input type="text"
										ng-model="icon" class="form-control search-input"  id="exampleInputName2"
										 placeholder=""> 
										
										
										
										<label  class="panel-left" 
										for="exampleInputName2">类型：</label> <select
										class="form-control search-input" ng-model="type">
										<option value="">---</option>
										<option value="MANY">有子节点</option>
										<option value="SINGLE">无子节点</option>
									</select>
								</div>


								<div id="searchBtnDiv" class="search-button panel-left">
									<button class="btn btn-primary" ng-click="sendSearchRequest(1)">
										<i class="fa fa-search"></i> 查询
									</button>
									<button class="btn btn-info" ng-click="clearConditions()">
										<i class="fa fa-asterisk "></i> 清空
									</button>
								</div>
							</div>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top:15px;">
				<div class="col-md-12 col-sm-4 search-data" >
					<div class="panel  panel-left">
						<div  style="font-weight:800;padding-left:20px;padding-top:5px;">数据窗口</div>
						<div class="panel-body">

							<button class="btn btn-primary operation-btn"
								ng-click="goToUrl('tableModelAdd.html');">
								<i class="fa fa-plus"></i> 新增
							</button>
							<button class="btn btn-info operation-btn">
								<i class="fa fa-upload"></i> 导出
							</button>
							<button class="btn btn-danger operation-btn"
								ng-click="delDataBatch()">
								<i class="fa fa-pencil"></i> 删除
							</button>
							<button class="btn btn-warning operation-btn"
								ng-click="reflash();">
								<i class=" fa fa-refresh "></i> 刷新
							</button>


							<div class="table-responsive">
								<table
									class="table table-striped table-condensed table-bordered table-hover"
									id="menuTable">
									<thead>
										<tr class="tr-bgcolor">
											<th><input type="checkbox" id="checkAll" ng-click="checkAll();" title="全选"></th>
											<th>编号</th>
											<th>菜单名称</th>
											<th>父菜单</th>
											<th>访问地址</th>
											<th>图标样式</th>
											<th>菜单类型</th>
											<th>排序</th>
											<th class="operation-width-25">操作列表</th>
										</tr>
									</thead>
									<tbody>
										<tr class="gradeA" ng-repeat="menu in datas">
											<td><input type="checkbox" name="dataSelects" value="{{ menu.id }}"></td>
											<td>{{ menu.id }}</td>
											<td>{{ menu.name }}</td>
											<td>{{ menu.pid }}</td>
											<td>{{ menu.url }}</td>
											<td>{{ menu.icon }}</td>
											<td>{{ menu.type }}</td>
											<td>{{ menu.sort }}</td>
											<td>
												<button class="btn btn-info"
													ng-click="goToUrl('tableModelEdit.html?id='+menu.id);">
													<i class="fa fa-edit "></i> 编辑
												</button>

												<button class="btn btn-danger"
													ng-click="delDataSingle(menu.id)">
													<i class="fa fa-pencil "></i> 删除
												</button>

												<button class="btn btn-primary" ng-click="showDetail(menu.id)">
													<i class="fa fa-search"></i> 查看
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>




                            <!-- 分页区块 start-->
							<div class="row form-inline" id="paginationDiv">
						    	<div id="pageDetailDiv" class="col-sm-6" >
									<div class="page-detail">
										显示 <span id="startRowPages"></span> 到 <span id="endRowPages"></span>
										条，总共： <span id="totalRowsPages"></span> 条 &nbsp;&nbsp; 每页显示 <select
											id="itemsPerPage" class="form-control page-detail-select-50" ng-model="itemsPerPage"
											ng-change="sendSearchRequest();">
											<option value="10">10</option>
											<option value="20">20</option>
											<option value="50">50</option>
											<option value="100">100</option>
										</select>条
									</div>
								</div>
								<div id="pageShowDiv" class="col-sm-6" >
									<uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-change="sendSearchRequest()" ng-model="currentPage" max-size="maxSize" first-text="首页" previous-text="上一页" next-text="下一页" last-text="尾页" boundary-links="true" boundary-link-numbers="true"></uib-pagination>
								</div>
                                <div id="pageNodataDiv" class="page-nodata">无数据显示</div>
							</div>
							 <!-- 分页区块 end -->
							

						</div>
					</div>
				</div>
			</div>
		</div>

		 
		<!-- 信息详情 -->
		<div class="modal" id="detailModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header modal-header-padding">
						<button class="close" data-dismiss="modal">
							        <span class="glyphicon glyphicon-remove"></span>        
						</button>
						<h4 class="modal-title">详情信息</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="exampleInputEmail1">菜单编号:</label> <input type="text"
								class="form-control" ng-model="menuObj.id" readonly="readonly"
								disabled="disabled">
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">菜单名称:</label> <input type="text"
								class="form-control" ng-model="menuObj.name" readonly="readonly"
								disabled="disabled">
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">父菜单:</label> <input type="text"
								class="form-control" ng-model="menuObj.pid" readonly="readonly"
								disabled="disabled">
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">访问地址:</label> <input type="text"
								class="form-control" ng-model="menuObj.url" readonly="readonly"
								disabled="disabled">
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">图标样式:</label> <input type="text"
								class="form-control" ng-model="menuObj.icon" readonly="readonly"
								disabled="disabled">
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">菜单类型:</label> <input type="text"
								class="form-control" ng-model="menuObj.type" readonly="readonly"
								disabled="disabled">
						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">菜单排序:</label> <input type="text"
								class="form-control" ng-model="menuObj.sort" readonly="readonly"
								disabled="disabled">
						</div>
						           
						<div class="modal-footer modal-footer-padding">
							<button class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
			</div>


<script src="../../js/home/jquery-1.10.2.js"></script>
<script src="../../js/home/bootstrap.min.js"></script>
<script src="../../plugins/angular-1.6.5/angular.min.js" language="javascript"></script>
<script src="../../js/home/ui-bootstrap-tpls.min.js" language="javascript"></script> 
<script src="../../js/common/avitUtils.js" language="javascript"></script>
<script src="../../js/home/tableModelList.js"></script>


			
</body>
</html>
